<nav class="navbar navbar-default">
    <a class="navbar-brand" href="#"> <img src="images/matchlogo.png" alt="LOGO" height="150" width="200"></a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="register"><a href="/register">REGISTER</a></li>
        <li id="login"><a href="/login">LOGIN</a></li>
        <li id="contact"><a href="">CONTACT US</a></li>
      </ul>
    </div>
    <div class="container">
        <div class="navbar-header">
        </div>
    </div>
</nav>