

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#" alt="LOGO" height="150" width="200"> <img src="images/matchlogo.png" alt="LOGO"
      height="100" width="150"></a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <ul class="nav-item active">
        <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" href="/homepage">Chat</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="stalk" action="search" method="post">
      Hello <%=username%>
      <input class="form-control mr-sm-2" type="search" placeholder="age : 20 - 30" aria-label="Search">
      
    </form>

  </div>
</nav>