<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs%>
</head>

<body>
    <div class="login-form">
        <h1> Forgot Password</h1>
        <form action="/forgot" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="submit">
        </form><br>
    </div>
</body>

</html>