
<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs%>
</head>

<body>
  <div class="container-fluid bg-3 text-center">
    <div>
      <% include partials/menu.ejs%>
    </div>
    <h3><%= page %></h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>"Don't wait for the perfect moment, take a moment and make it perfetct." </br>--->Zoey Saywad </p>
          <img src="images/connected.jpg" alt="pic" height="500px" width="500px">

      </div>
      <div class="col-sm-4">
        <p> "Where ever you go, go with all your heart" </br> --->Confucius </p>
          <img src="images/couple.jpeg" alt="pic" height="500px" width="500px">

      </div>
      <div class="col-sm-4">
        <p>"In the end we only regret chances we didn't take!" </br> --->Lewis Carroll </p>
          <img src="images/couple2.jpeg" alt="pic" height="500px" width="500px">

      </div>
    </div>
  </div>
</body>
<% include partials/script.ejs%>

</html>